<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/output.css" rel="stylesheet" />
    <link href="/styles/styles.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <header class="bg-slate-500 border-b-2">
    <div class="relative bg-white">
      <div
        class="flex justify-between items-center max-w-7xl mx-auto px-4 py-6"
      >
        <nav class="flex space-x-10">
          <a
            href="#"
            class="text-base font-medium text-gray-500 hover:text-indigo-700"
          >
            Home
          </a>
          <a
            href="#"
            class="text-base font-medium text-gray-500 hover:text-indigo-700"
          >
            Pricing
          </a>
          <a
            href="#"
            class="text-base font-medium text-gray-500 hover:text-indigo-700"
          >
            Jobs
          </a>
          <a
            href="#"
            class="text-base font-medium text-gray-500 hover:text-indigo-700"
          >
            Contact
          </a>
        </nav>
        <div class="flex items-center justify-end">
          <a
            href="#"
            class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-indigo-700"
          >
            Sign in
          </a>
          <a
            href="#"
            class="ml-8 whitespace-nowrap inline-flex items-center justify-center bg-gradient-to-r from-purple-600 to-indigo-600 bg-origin-border px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white hover:from-purple-700 hover:to-indigo-700"
          >
            Sign up
          </a>
        </div>
      </div>
    </div>
  </header>
</html>
