<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="/dist/output.css" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <header class="">
    <div class="relative bg-indigo-50">
      <div
        class="flex justify-between items-center max-w-7xl mx-auto px-4 py-6 sm:px-6 md:justify-start md:space-x-10 lg:px-8"
      >
        <nav class="hidden md:flex space-x-10">
          <a
            href="/"
            class="text-base font-medium text-gray-500 hover:text-indigo-700"
          >
            Home
          </a>
          <a
          href="/contact"
          class="text-base font-medium text-gray-500 hover:text-indigo-700"
        >
          Contact Us
        </a>
    </nav>

      <%  if (!session) { %>
        <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
          <a
            href="/signin"
            class="whitespace-nowrap text-base font-medium text-gray-500 hover:text-indigo-700"
          >
            Sign in
          </a>
          <a
            href="/signup"
            class="ml-8 whitespace-nowrap inline-flex items-center justify-center bg-gradient-to-r from-purple-600 to-indigo-600 bg-origin-border px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white hover:from-purple-700 hover:to-indigo-700"
          >
            Sign up
          </a>
        </div>
      <% } else { %>
        <a
              href="/users/checkuser"
                class="text-base font-medium text-gray-500 hover:text-indigo-700"
              >
                Account
              </a>
              <a
                href="/createjobform"
                class="text-base font-medium text-gray-500 hover:text-indigo-700"
              >
                Create Job
              </a>
              <a
                href="/jobrequests/searchJobs/1"
                class="text-base font-medium text-gray-500 hover:text-indigo-700"
              >View Jobs
            </a>
        <div class="hidden md:flex items-center justify-end md:flex-1 lg:w-0">
          <a
          href="/users/logout"
          class="ml-8 whitespace-nowrap inline-flex items-center justify-center bg-gradient-to-r from-purple-600 to-indigo-600 bg-origin-border px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white hover:from-purple-700 hover:to-indigo-700"
        >
          Logout
        </a>
        </div>
     <% } %>
      </div>
    </div>
    
  </header>
</html>

