<html>
    <head>
        <title>Home</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible", content="IE=edge">
        <meta name="viewport", content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
        <link href="/styles/styles.css" rel="stylesheet" >
        <!--<script src="https://cdn.tailwindcss.com"></script>-->
    </head>
    <body>
        <h1 class="text-red-500 underline">Home</h1>
        <p>Welcome to the home page</p>
        <p>
            <a href="/about">why</a>
        </p>
    </body>
</html>