<!DOCTYPE html>
<html>
  <body>
      <div>
        <h2>username</h2>

        <a
                href="/contractorform"
                class="text-base font-medium text-gray-500 hover:text-indigo-700"
              >
              Create Contractor
            </a>
        <a
                href="/useraccount"
                class="text-base font-medium text-gray-500 hover:text-indigo-700"
              >
                Edit Account
              </a>
        <a
                href="/useraccount"
                class="text-base font-medium text-gray-500 hover:text-indigo-700"
              >
                Delete Account
              </a>
      </div>
  </body>
</html>
