<html>
  <head>
    <title>My Account</title>
    </head>
  <body>
    <div class="flex justify-center">
      <div class="card w-3/6 shadow-md rounded-lg p-8 m-8 bg-indigo-50">
              <button
                type="submit"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-md text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
              <a href="/jobrequests/searchJobs/1">
                <h1>My Jobs</h1>
              </a>
              </button>

              <% if (isAContractor == false) { %>
                <button
                type="submit"
                class="ml-3 inline-flex justify-center py-2 px-4 border border-transparent shadow-md text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500"
              >
                <a href="/contractorform">
                  <h1>Become a Pro</h1>
                </a>
              </button>
                  <%} else { %>
                    <div></div>
                  <% } %>
                <% 
                if (isAContractor == false) { %>
                  <%- include('components/userUpdateForm.ejs') %> 
                  <%} else { %>
                    <%- include('components/contractorupdateform.ejs') %> 
                  <% } %>
      </div>
    </div>
  </body>
</html>
